<!-- Buscador de dispositivos -->
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar dispositivos..." #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <em class="fa fa-spin fa-refresh fa-2x"></em>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-tittle">Dispositivos ({{dispositivos.length}})</h4>
                        <h6 class="card-subtitle">
                            Dispositivos registrados
                        </h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <a routerLink="/dispositivo/nuevo" class="btn btn-primary">
                                <em class="fa fa-hospital-o"></em>Crear Dispositivo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <caption>Dispositivos</caption>
                        <thead>
                            <tr>
                                <th>Id.</th>                                
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Dir. IP</th>
                                <th>Puerto</th>                                
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dispositivo of dispositivos">                                
                                <td>{{dispositivo.idDevice}}</td>
                                <td>{{dispositivo.name}}</td>
                                <td>{{dispositivo.description}}</td>
                                <td>{{dispositivo.ipaddress}}</td>
                                <td>{{dispositivo.port}}</td>                                
                                <td>
                                    <a [routerLink]="['/','dispositivo', dispositivo.idDevice]" data-toggle="tooltip" data-original-title="Editar">
                                        <em class="fa fa-pencil text-inverse m-r-10"></em></a>
                                    <a class="cursor" data-toggle="tooltip" data-original-title="Borrar" (click)="borrarDispositivo(dispositivo)">
                                        <em class="fa fa-close text-danger"></em></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>